#header {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

h4 {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-top: 30px;
}

.todo-container {
	margin-top: 50px;
}

.main {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

#display {
	display: flex;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

#display > li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 30px;
}

.strike-text {
	text-decoration: line-through;
	color: red;
}
